{
  "version": "7",
  "about": "This is a Prepros (https://prepros.io) configuration file. You can commit this file to a git repo to backup and sync project configurations.",
  "config": {
    "proxy": {
      "enable": false,
      "target": "",
      "useLocalAssets": false
    },
    "reload": {
      "enable": true,
      "delay": 0,
      "animate": true,
      "afterUpload": false
    },
    "sync": {
      "enable": true,
      "mouse": true,
      "keyboard": true,
      "form": true,
      "scroll": true
    },
    "watcher": {
      "enable": true,
      "maxFiles": 2000,
      "usePolling": false,
      "pollingInterval": 500,
      "extensions": [
        ".html",
        ".htm",
        ".php"
      ],
      "ignore": {
        "patterns": [
          ".*",
          "wp-admin",
          "wp-includes",
          "node_modules",
          "Prepros Export",
          "bower_components"
        ],
        "exceptions": []
      }
    },
    "exporter": {
      "ignore": {
        "patterns": [
          "desktop.ini",
          "prepros.cfg",
          "node_modules",
          "Prepros Export",
          "prepros.config",
          "prepros-6.config",
          "*-original.jpg",
          "*-original.jpeg",
          "*-original.png",
          "*-original.svg",
          "*.scss",
          "*.sass",
          "*.less",
          "*.pug",
          "*.jade",
          "*.styl",
          "*.haml",
          "*.slim",
          "*.coffee",
          "*.kit",
          "*.turf",
          "*.ts",
          "*.db",
          "_app",
          "/.git",
          "*.md",
          ".*"
        ],
        "exceptions": [
          ".htaccess"
        ]
      }
    },
    "uploader": {
      "remotePath": "/www/kudryashova.iomp.online/illusions/",
      "timeout": 40000,
      "autoUpload": false,
      "reuseConnection": true,
      "connectionType": "ftp",
      "history": [
        {
          "file": "favicon.ico",
          "mtimeMs": 1614335221323.4817,
          "date": "2021-04-19T15:38:05.031Z"
        },
        {
          "file": "favicon.png",
          "mtimeMs": 1614335221425.4653,
          "date": "2021-04-19T15:38:05.367Z"
        },
        {
          "file": "favicon.svg",
          "mtimeMs": 1614335221475.4348,
          "date": "2021-04-19T15:38:05.775Z"
        },
        {
          "file": "index.html",
          "mtimeMs": 1619066047451.771,
          "date": "2021-04-22T04:40:58.337Z"
        },
        {
          "file": "css/styles.min.css",
          "mtimeMs": 1619066367963.3545,
          "date": "2021-04-22T04:40:58.682Z"
        },
        {
          "file": "fonts/SFUIDisplayMedium.eot",
          "mtimeMs": 1595861106000,
          "date": "2021-04-19T15:38:07.244Z"
        },
        {
          "file": "fonts/SFUIDisplayMedium.svg",
          "mtimeMs": 1595861106000,
          "date": "2021-04-19T15:38:07.829Z"
        },
        {
          "file": "fonts/SFUIDisplayMedium.ttf",
          "mtimeMs": 1595861106000,
          "date": "2021-04-19T15:38:08.281Z"
        },
        {
          "file": "fonts/SFUIDisplayMedium.woff",
          "mtimeMs": 1595861106000,
          "date": "2021-04-19T15:38:08.681Z"
        },
        {
          "file": "fonts/SFUIDisplayMedium.woff2",
          "mtimeMs": 1595861106000,
          "date": "2021-04-19T15:38:09.155Z"
        },
        {
          "file": "fonts/SFUIDisplaySemibold.eot",
          "mtimeMs": 1612766083483.1797,
          "date": "2021-04-19T15:38:09.573Z"
        },
        {
          "file": "fonts/SFUIDisplaySemibold.svg",
          "mtimeMs": 1612766083601.6377,
          "date": "2021-04-19T15:38:10.149Z"
        },
        {
          "file": "fonts/SFUIDisplaySemibold.ttf",
          "mtimeMs": 1612766083699.5789,
          "date": "2021-04-19T15:38:10.575Z"
        },
        {
          "file": "fonts/SFUIDisplaySemibold.woff",
          "mtimeMs": 1612766083804.5159,
          "date": "2021-04-19T15:38:10.969Z"
        },
        {
          "file": "fonts/SFUIDisplaySemibold.woff2",
          "mtimeMs": 1612766083919.4421,
          "date": "2021-04-19T15:38:11.353Z"
        },
        {
          "file": "img/backs/get.png",
          "mtimeMs": 1618916117347.662,
          "date": "2021-04-20T10:55:49.486Z"
        },
        {
          "file": "img/backs/main.png",
          "mtimeMs": 1618916115853.5388,
          "date": "2021-04-20T10:55:50.080Z"
        },
        {
          "file": "img/images/footer-logo.png",
          "mtimeMs": 1617775893486.057,
          "date": "2021-04-19T15:38:15.305Z"
        },
        {
          "file": "img/images/for-2.png",
          "mtimeMs": 1618916121539.1667,
          "date": "2021-04-20T10:55:51.866Z"
        },
        {
          "file": "img/images/header-logo.png",
          "mtimeMs": 1618916128410.9014,
          "date": "2021-04-20T10:55:53.363Z"
        },
        {
          "file": "js/libs.min.js",
          "mtimeMs": 1619007920241.5242,
          "date": "2021-04-21T13:01:51.049Z"
        },
        {
          "file": "js/scripts.js",
          "mtimeMs": 1619066208420.6138,
          "date": "2021-04-22T04:40:59.349Z"
        },
        {
          "file": "fonts/SFUIDisplayLight.eot",
          "mtimeMs": 1618846814562,
          "date": "2021-04-19T15:41:17.372Z"
        },
        {
          "file": "fonts/SFUIDisplayLight.svg",
          "mtimeMs": 1618846818222,
          "date": "2021-04-19T15:41:18.107Z"
        },
        {
          "file": "fonts/SFUIDisplayLight.ttf",
          "mtimeMs": 1618846821816.9998,
          "date": "2021-04-19T15:41:18.558Z"
        },
        {
          "file": "fonts/SFUIDisplayLight.woff",
          "mtimeMs": 1618846825833,
          "date": "2021-04-19T15:41:18.933Z"
        },
        {
          "file": "fonts/SFUIDisplayLight.woff2",
          "mtimeMs": 1618846829851,
          "date": "2021-04-19T15:41:19.299Z"
        },
        {
          "file": "img/images/for-1.png",
          "mtimeMs": 1618916119008.682,
          "date": "2021-04-20T10:55:51.098Z"
        },
        {
          "file": "img/icons/plan-marquee.png",
          "mtimeMs": 1618917962435.7407,
          "date": "2021-04-20T11:26:53.618Z"
        },
        {
          "file": "css/promo.min.css",
          "mtimeMs": 1619001614114.845,
          "date": "2021-04-21T10:42:39.412Z"
        },
        {
          "file": "img/backs/main-promo.png",
          "mtimeMs": 1618929380223.4731,
          "date": "2021-04-20T14:36:25.312Z"
        },
        {
          "file": "img/icons/tg.png",
          "mtimeMs": 1614333463140.3147,
          "date": "2021-04-20T14:36:25.750Z"
        },
        {
          "file": "promo/index.html",
          "mtimeMs": 1619001680173.4756,
          "date": "2021-04-21T10:42:42.308Z"
        },
        {
          "file": "confirm/index.html",
          "mtimeMs": 1619001690422.6611,
          "date": "2021-04-21T10:42:36.933Z"
        },
        {
          "file": "css/confirm.min.css",
          "mtimeMs": 1619001614113.8457,
          "date": "2021-04-21T10:42:38.446Z"
        },
        {
          "file": "img/icons/gmail.png",
          "mtimeMs": 1614319639699.2766,
          "date": "2021-04-20T14:48:32.930Z"
        },
        {
          "file": "img/icons/mailru.png",
          "mtimeMs": 1614319641390.2866,
          "date": "2021-04-20T14:48:33.316Z"
        },
        {
          "file": "img/icons/yahoo.png",
          "mtimeMs": 1614319643462.0012,
          "date": "2021-04-20T14:48:33.680Z"
        },
        {
          "file": "img/icons/yandex.png",
          "mtimeMs": 1614319645635.6538,
          "date": "2021-04-20T14:48:34.066Z"
        },
        {
          "file": "img/images/header-logo-dark.png",
          "mtimeMs": 1618930071478.766,
          "date": "2021-04-20T14:48:34.521Z"
        },
        {
          "file": "img/images/tv-1.png",
          "mtimeMs": 1618990965383.9646,
          "date": "2021-04-21T07:42:58.161Z"
        },
        {
          "file": "img/images/tv-2.png",
          "mtimeMs": 1618990968196.2937,
          "date": "2021-04-21T07:42:58.980Z"
        },
        {
          "file": "img/images/tv-3.png",
          "mtimeMs": 1618990968643.0183,
          "date": "2021-04-21T07:42:59.827Z"
        },
        {
          "file": "confirm-h/index.html",
          "mtimeMs": 1619001695140.2324,
          "date": "2021-04-21T10:42:37.465Z"
        },
        {
          "file": "h/index.html",
          "mtimeMs": 1619066047451.771,
          "date": "2021-04-22T04:40:59.031Z"
        },
        {
          "file": "promo-h/index.html",
          "mtimeMs": 1619001684053.3003,
          "date": "2021-04-21T10:42:43.431Z"
        },
        {
          "file": "img/backs/get-mobile.png",
          "mtimeMs": 1618916128660.747,
          "date": "2021-04-21T09:58:33.383Z"
        },
        {
          "file": "img/backs/main-mobile.png",
          "mtimeMs": 1618916133619.7393,
          "date": "2021-04-21T09:58:34.247Z"
        },
        {
          "file": "img/icons/plan-marquee-mobile.png",
          "mtimeMs": 1619000014125.4995,
          "date": "2021-04-21T10:38:50.940Z"
        },
        {
          "file": "img/backs/author-mask.png",
          "mtimeMs": 1619062856028.462,
          "date": "2021-04-22T03:41:30.058Z"
        },
        {
          "file": "img/images/author-1.jpg",
          "mtimeMs": 1619062862761.6804,
          "date": "2021-04-22T03:41:30.958Z"
        },
        {
          "file": "img/images/author-2.jpg",
          "mtimeMs": 1619062866596.13,
          "date": "2021-04-22T03:41:31.753Z"
        },
        {
          "file": "img/images/author-3.jpg",
          "mtimeMs": 1619062868996.928,
          "date": "2021-04-22T03:41:32.615Z"
        },
        {
          "file": "img/images/author-4.jpg",
          "mtimeMs": 1619062870905.5261,
          "date": "2021-04-22T03:41:33.401Z"
        },
        {
          "file": "img/images/author-5.jpg",
          "mtimeMs": 1619062873139.5183,
          "date": "2021-04-22T03:41:34.166Z"
        },
        {
          "file": "img/images/author-6.jpg",
          "mtimeMs": 1619062875217.741,
          "date": "2021-04-22T03:41:34.893Z"
        },
        {
          "file": "img/images/author-7.jpg",
          "mtimeMs": 1619062877146.4941,
          "date": "2021-04-22T03:41:35.621Z"
        },
        {
          "file": "img/images/author-8.jpg",
          "mtimeMs": 1619062879551.331,
          "date": "2021-04-22T03:41:36.332Z"
        },
        {
          "file": "img/images/author-9.jpg",
          "mtimeMs": 1619062882104.9004,
          "date": "2021-04-22T03:41:37.082Z"
        }
      ]
    },
    "packages": {
      "createPackageLock": true
    },
    "images": {
      "preserveOriginal": false
    },
    "tasks": {
      "autoprefixer": {
        "cascade": true,
        "add": true,
        "remove": true,
        "supports": true,
        "flexbox": true,
        "grid": "autoplace",
        "browsers": [
          "> 2%",
          "not dead",
          "last 100 versions"
        ],
        "sourceMap": false
      },
      "babel": {
        "sourceMap": false,
        "presets": {
          "@babel/preset-env": {
            "enable": true,
            "options": {
              "targets": [
                "> 2%",
                "not dead"
              ],
              "preserveImports": false,
              "polyfills": false
            }
          },
          "@babel/preset-react": true,
          "@babel/preset-flow": false
        },
        "plugins": {
          "@babel/plugin-proposal-class-static-block": false,
          "@babel/plugin-proposal-class-properties": false,
          "@babel/plugin-proposal-decorators": {
            "enable": false,
            "options": {
              "decoratorsBeforeExport": true
            }
          },
          "@babel/plugin-proposal-export-namespace-from": false,
          "@babel/plugin-proposal-function-sent": false,
          "@babel/plugin-proposal-logical-assignment-operators": false,
          "@babel/plugin-proposal-nullish-coalescing-operator": false,
          "@babel/plugin-proposal-numeric-separator": false,
          "@babel/plugin-proposal-optional-chaining": false,
          "@babel/plugin-proposal-private-methods": false,
          "@babel/plugin-proposal-throw-expressions": false
        },
        "customPresets": [],
        "customPlugins": []
      },
      "bundle-js": {
        "sourceMap": false,
        "exclude": [
          "node_modules",
          "bower_components"
        ],
        "devMode": true,
        "globals": [],
        "externals": [],
        "babel": {
          "enable": true,
          "options": {
            "sourceMap": false,
            "presets": {
              "@babel/preset-env": {
                "enable": true,
                "options": {
                  "targets": [
                    "> 2%",
                    "not dead"
                  ],
                  "preserveImports": false,
                  "polyfills": false
                }
              },
              "@babel/preset-react": true,
              "@babel/preset-flow": false
            },
            "plugins": {
              "@babel/plugin-proposal-class-static-block": false,
              "@babel/plugin-proposal-class-properties": false,
              "@babel/plugin-proposal-decorators": {
                "enable": false,
                "options": {
                  "decoratorsBeforeExport": true
                }
              },
              "@babel/plugin-proposal-export-namespace-from": false,
              "@babel/plugin-proposal-function-sent": false,
              "@babel/plugin-proposal-logical-assignment-operators": false,
              "@babel/plugin-proposal-nullish-coalescing-operator": false,
              "@babel/plugin-proposal-numeric-separator": false,
              "@babel/plugin-proposal-optional-chaining": false,
              "@babel/plugin-proposal-private-methods": false,
              "@babel/plugin-proposal-throw-expressions": false
            },
            "customPresets": [],
            "customPlugins": []
          }
        },
        "css": {
          "enable": true
        },
        "fonts": {
          "enable": true
        }
      },
      "coffeescript": {
        "header": false,
        "bare": false,
        "sourceMap": false
      },
      "command": {
        "command": "",
        "rootDir": ""
      },
      "concat-js": {
        "sourceMap": false,
        "rootDir": ""
      },
      "copy": {
        "sourceMap": false
      },
      "dart-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "sourceMap": false
      },
      "haml": {
        "doubleQuoteAttributes": true
      },
      "jpg": {
        "quality": 90
      },
      "less": {
        "javascriptEnabled": false,
        "strictImports": false,
        "insecure": false,
        "math": "always",
        "strictUnits": false,
        "dumpLineNumbers": false,
        "sourceMap": false
      },
      "markdown": {
        "githubFlavored": true,
        "wrapWithHtml": false
      },
      "minify-css": {
        "sourceMap": false
      },
      "minify-html": {
        "caseSensitive": false,
        "collapseBooleanAttributes": true,
        "collapseInlineTagWhitespace": false,
        "collapseWhitespace": true,
        "conservativeCollapse": false,
        "decodeEntities": false,
        "html5": true,
        "includeAutoGeneratedTags": true,
        "keepClosingSlash": false,
        "minifyCSS": true,
        "minifyJS": true,
        "preserveLineBreaks": false,
        "preventAttributesEscaping": false,
        "processConditionalComments": false,
        "removeAttributeQuotes": false,
        "removeComments": true,
        "removeEmptyAttributes": false,
        "removeEmptyElement": false,
        "removeOptionalTags": false,
        "removeRedundantAttributes": false,
        "removeScriptTypeAttributes": false,
        "removeStyleLinkTypeAttributes": false,
        "removeTagWhitespace": false,
        "sortAttributes": false,
        "sortClassName": false,
        "useShortDoctype": true
      },
      "minify-js": {
        "parse": {
          "bare_returns": false
        },
        "compress": {
          "arrows": true,
          "arguments": false,
          "booleans": true,
          "booleans_as_integers": false,
          "collapse_vars": true,
          "comparisons": true,
          "computed_props": true,
          "conditionals": true,
          "dead_code": true,
          "directives": true,
          "drop_console": false,
          "drop_debugger": true,
          "evaluate": true,
          "expression": false,
          "global_defs": [],
          "hoist_funs": false,
          "hoist_props": true,
          "hoist_vars": false,
          "if_return": true,
          "inline": 3,
          "join_vars": true,
          "keep_fargs": true,
          "keep_infinity": false,
          "loops": true,
          "negate_iife": true,
          "properties": true,
          "pure_funcs": [],
          "pure_getters": false,
          "reduce_vars": true,
          "sequences": true,
          "side_effects": true,
          "switches": true,
          "top_retain": [],
          "typeofs": true,
          "unsafe": false,
          "unsafe_arrows": false,
          "unsafe_comps": false,
          "unsafe_Function": false,
          "unsafe_math": false,
          "unsafe_proto": false,
          "unsafe_regexp": false,
          "unsafe_undefined": false,
          "unused": true
        },
        "mangle": {
          "eval": false,
          "reserved": []
        },
        "output": {
          "ascii_only": false,
          "braces": false,
          "comments": "none",
          "inline_script": true,
          "keep_numbers": false,
          "keep_quoted_props": false,
          "preamble": null,
          "quote_keys": false,
          "quote_style": 0,
          "semicolons": true,
          "shebang": true,
          "webkit": false,
          "wrap_iife": false,
          "wrap_func_args": true
        },
        "sourceMap": false,
        "toplevel": false,
        "ie8": false,
        "keep_classnames": false,
        "keep_fnames": false,
        "safari10": false
      },
      "node-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "outputStyle": "expanded",
        "precision": 10,
        "sourceMap": false,
        "sourceComments": false
      },
      "png": {
        "quality": 90
      },
      "postcss-import": {
        "ignoreKeywords": [],
        "sourceMap": false
      },
      "postcss-preset-env": {
        "stage": 2,
        "browsers": [
          "> 2%",
          "not dead"
        ],
        "sourceMap": false
      },
      "pug": {
        "pretty": true
      },
      "slim": {
        "indent": "space",
        "indentSize": 2,
        "pretty": true
      },
      "stylus": {
        "useNib": true,
        "sourceMap": false,
        "linenos": false
      },
      "svg": {
        "cleanupAttrs": true,
        "removeDoctype": true,
        "removeXMLProcInst": true,
        "removeComments": true,
        "removeMetadata": true,
        "removeTitle": true,
        "removeDesc": true,
        "removeUselessDefs": true,
        "removeEditorsNSData": true,
        "removeEmptyAttrs": true,
        "removeHiddenElems": true,
        "removeEmptyText": true,
        "removeEmptyContainers": true,
        "removeViewBox": false,
        "cleanupEnableBackground": true,
        "convertStyleToAttrs": true,
        "convertColors": true,
        "convertPathData": true,
        "convertTransform": true,
        "removeUnknownsAndDefaults": true,
        "removeNonInheritableGroupAttrs": true,
        "removeUselessStrokeAndFill": true,
        "removeUnusedNS": true,
        "cleanupIDs": true,
        "cleanupNumericValues": true,
        "moveElemsAttrsToGroup": true,
        "moveGroupAttrsToElems": true,
        "collapseGroups": true,
        "removeRasterImages": false,
        "mergePaths": true,
        "convertShapeToPath": true,
        "sortAttrs": true,
        "removeDimensions": true
      },
      "turf": {
        "rootDir": ""
      },
      "typescript": {
        "allowJs": false,
        "allowSyntheticDefaultImports": true,
        "allowUmdGlobalAccess": false,
        "allowUnreachableCode": false,
        "allowUnusedLabels": false,
        "alwaysStrict": false,
        "charset": "utf8",
        "checkJs": false,
        "declaration": false,
        "disableSizeLimit": false,
        "downlevelIteration": false,
        "emitBOM": false,
        "emitDecoratorMetadata": false,
        "experimentalDecorators": false,
        "forceConsistentCasingInFileNames": false,
        "importHelpers": false,
        "jsx": "React",
        "keyofStringsOnly": false,
        "lib": [],
        "maxNodeModuleJsDepth": 0,
        "module": "ES2015",
        "moduleResolution": "NodeJs",
        "newLine": "LineFeed",
        "noFallthroughCasesInSwitch": false,
        "noImplicitAny": false,
        "noImplicitReturns": false,
        "noImplicitThis": false,
        "noStrictGenericChecks": false,
        "noUnusedLocals": false,
        "noUnusedParameters": false,
        "noImplicitUseStrict": false,
        "noLib": false,
        "noResolve": false,
        "preserveConstEnums": false,
        "jsxFactory": "React.createElement",
        "removeComments": false,
        "skipLibCheck": false,
        "sourceMap": false,
        "strict": false,
        "strictFunctionTypes": false,
        "strictBindCallApply": false,
        "strictNullChecks": false,
        "strictPropertyInitialization": false,
        "suppressExcessPropertyErrors": false,
        "suppressImplicitAnyIndexErrors": false,
        "target": "ES3",
        "resolveJsonModule": false,
        "esModuleInterop": false,
        "useDefineForClassFields": false
      }
    },
    "fileTypes": {
      "sass": {
        "extensions": [
          ".scss",
          ".sass"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "dart-sass",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "scss",
              "replaceWith": "css"
            },
            {
              "segment": "sass",
              "replaceWith": "css"
            }
          ]
        }
      },
      "less": {
        "extensions": [
          ".less"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "less",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "less",
              "replaceWith": "css"
            }
          ]
        }
      },
      "pug": {
        "extensions": [
          ".pug",
          ".jade"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "pug",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "pug",
              "replaceWith": "html"
            }
          ]
        }
      },
      "css": {
        "extensions": [
          ".css"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "postcss-import",
            "enable": false
          },
          {
            "task": "postcss-preset-env",
            "enable": false
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "SOURCE_RELATIVE",
          "relativePath": "../",
          "suffix": ".min",
          "alwaysSuffix": false
        }
      },
      "javascript": {
        "extensions": [
          ".js",
          ".jsx"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "concat-js",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": true
          }
        ],
        "output": {
          "extension": ".js",
          "type": "SOURCE_RELATIVE",
          "relativePath": "../js",
          "suffix": ".min",
          "alwaysSuffix": false
        }
      },
      "stylus": {
        "extensions": [
          ".styl"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "stylus",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "stylus",
              "replaceWith": "css"
            },
            {
              "segment": "styl",
              "replaceWith": "css"
            }
          ]
        }
      },
      "markdown": {
        "extensions": [
          ".md",
          ".markdown",
          ".mkd"
        ],
        "autoCompile": false,
        "tasks": [
          {
            "task": "markdown",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "markdown",
              "replaceWith": "html"
            }
          ]
        }
      },
      "haml": {
        "extensions": [
          ".haml"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "haml",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "haml",
              "replaceWith": "html"
            }
          ]
        }
      },
      "slim": {
        "extensions": [
          ".slim"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "slim",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "slim",
              "replaceWith": "html"
            }
          ]
        }
      },
      "coffeescript": {
        "extensions": [
          ".coffee"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "coffeescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "coffee-script",
              "replaceWith": "js"
            },
            {
              "segment": "coffeescript",
              "replaceWith": "js"
            },
            {
              "segment": "coffee",
              "replaceWith": "js"
            }
          ]
        }
      },
      "turf": {
        "extensions": [
          ".turf",
          ".kit"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "turf",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "turf",
              "replaceWith": "html"
            }
          ]
        }
      },
      "typescript": {
        "extensions": [
          ".ts",
          ".tsx"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "typescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "typescript",
              "replaceWith": "js"
            },
            {
              "segment": "ts",
              "replaceWith": "js"
            }
          ]
        }
      },
      "jpg": {
        "extensions": [
          ".jpg",
          ".jpeg"
        ],
        "tasks": [
          {
            "task": "jpg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".jpg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "png": {
        "extensions": [
          ".png"
        ],
        "tasks": [
          {
            "task": "png",
            "enable": true
          }
        ],
        "output": {
          "extension": ".png",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "svg": {
        "extensions": [
          ".svg"
        ],
        "tasks": [
          {
            "task": "svg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".svg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      }
    },
    "files": [
      {
        "file": "_app/_js/libs.js",
        "config": {
          "autoCompile": true,
          "customOutput": "js\\libs.min.js"
        }
      },
      {
        "file": "_app/_js/scripts.js",
        "config": {
          "tasks": {
            "minify-js": {
              "enable": false
            }
          },
          "autoCompile": true,
          "customOutput": "js\\scripts.js"
        }
      },
      {
        "file": "_app/confirm-h.pug",
        "config": {
          "customOutput": "confirm-h\\index.html"
        }
      },
      {
        "file": "_app/confirm.pug",
        "config": {
          "customOutput": "confirm\\index.html"
        }
      },
      {
        "file": "_app/h.pug",
        "config": {
          "customOutput": "h\\index.html"
        }
      },
      {
        "file": "_app/index.pug",
        "config": {
          "customOutput": "index.html"
        }
      },
      {
        "file": "_app/promo-h.pug",
        "config": {
          "customOutput": "promo-h\\index.html"
        }
      },
      {
        "file": "_app/promo.pug",
        "config": {
          "customOutput": "promo\\index.html"
        }
      },
      {
        "file": "_app/styl/confirm.min.styl",
        "config": {
          "customOutput": "css\\confirm.min.css"
        }
      },
      {
        "file": "_app/styl/promo.min.styl",
        "config": {
          "customOutput": "css\\promo.min.css"
        }
      },
      {
        "file": "_app/styl/styles.min.styl",
        "config": {
          "customOutput": "css\\styles.min.css"
        }
      },
      {
        "file": "img/backs/author-mask.png",
        "config": {
          "originalSize": 295237,
          "optimized": true
        }
      },
      {
        "file": "img/backs/author.png",
        "config": {
          "originalSize": 453938,
          "optimized": true
        }
      },
      {
        "file": "img/backs/get.png",
        "config": {
          "originalSize": 1264259,
          "optimized": true
        }
      },
      {
        "file": "img/backs/main-promo.png",
        "config": {
          "optimized": true,
          "originalSize": 628530
        }
      },
      {
        "file": "img/backs/main.png",
        "config": {
          "originalSize": 1327525,
          "optimized": true
        }
      },
      {
        "file": "img/icons/plan-marquee.png",
        "config": {
          "originalSize": 14967,
          "optimized": true
        }
      },
      {
        "file": "img/images/author-1.jpg",
        "config": {
          "originalSize": 225754,
          "optimized": true
        }
      },
      {
        "file": "img/images/author-1.png",
        "config": {
          "originalSize": 471858,
          "optimized": true
        }
      },
      {
        "file": "img/images/author-2.jpg",
        "config": {
          "originalSize": 353044,
          "optimized": true
        }
      },
      {
        "file": "img/images/author-2.png",
        "config": {
          "originalSize": 452696,
          "optimized": true
        }
      },
      {
        "file": "img/images/author-3.jpg",
        "config": {
          "originalSize": 303588,
          "optimized": true
        }
      },
      {
        "file": "img/images/author-3.png",
        "config": {
          "originalSize": 494509,
          "optimized": true
        }
      },
      {
        "file": "img/images/author-4.jpg",
        "config": {
          "originalSize": 390124,
          "optimized": true
        }
      },
      {
        "file": "img/images/author-4.png",
        "config": {
          "originalSize": 524443
        }
      },
      {
        "file": "img/images/author-5.jpg",
        "config": {
          "originalSize": 341303,
          "optimized": true
        }
      },
      {
        "file": "img/images/author-5.png",
        "config": {
          "originalSize": 480406,
          "optimized": true
        }
      },
      {
        "file": "img/images/author-6.jpg",
        "config": {
          "originalSize": 254618,
          "optimized": true
        }
      },
      {
        "file": "img/images/author-6.png",
        "config": {
          "originalSize": 401937,
          "optimized": true
        }
      },
      {
        "file": "img/images/author-7.jpg",
        "config": {
          "originalSize": 252060,
          "optimized": true
        }
      },
      {
        "file": "img/images/author-7.png",
        "config": {
          "originalSize": 340107,
          "optimized": true
        }
      },
      {
        "file": "img/images/author-8.jpg",
        "config": {
          "originalSize": 310546,
          "optimized": true
        }
      },
      {
        "file": "img/images/author-8.png",
        "config": {
          "originalSize": 357916,
          "optimized": true
        }
      },
      {
        "file": "img/images/author-9.jpg",
        "config": {
          "originalSize": 229188,
          "optimized": true
        }
      },
      {
        "file": "img/images/author-9.png",
        "config": {
          "originalSize": 355114,
          "optimized": true
        }
      },
      {
        "file": "img/images/for-1.png",
        "config": {
          "originalSize": 69305,
          "optimized": true
        }
      },
      {
        "file": "img/images/for-2.png",
        "config": {
          "originalSize": 62579,
          "optimized": true
        }
      },
      {
        "file": "img/images/get-mobile.png",
        "config": {
          "originalSize": 300393,
          "optimized": true
        }
      },
      {
        "file": "img/images/header-logo-dark.png",
        "config": {
          "originalSize": 3574,
          "optimized": true
        }
      },
      {
        "file": "img/images/header-logo.png",
        "config": {
          "originalSize": 2711,
          "optimized": true
        }
      },
      {
        "file": "img/images/main-mobile.png",
        "config": {
          "originalSize": 274439,
          "optimized": true
        }
      },
      {
        "file": "img/images/tamara.png",
        "config": {
          "originalSize": 768743,
          "optimized": true
        }
      },
      {
        "file": "img/images/tv-1.png",
        "config": {
          "originalSize": 114670,
          "optimized": true
        }
      },
      {
        "file": "img/images/tv-2.png",
        "config": {
          "originalSize": 131004,
          "optimized": true
        }
      },
      {
        "file": "img/images/tv-3.png",
        "config": {
          "originalSize": 130140,
          "optimized": true
        }
      }
    ]
  }
}
