.prepayment
	text-align center
	margin-bottom: 40px
	&-title
		font-size: 36px
		font-family: GP
		font-weight: bold
		text-transform uppercase
		color red
	&-text
		font-size: 20px
		margin 10px 0 20px
.timer-title
	font-size: 36px
	font-family: GP
	font-weight: bold
	text-transform uppercase
	line-height: 1.2
	text-align center
	color red
.flip-clock-wrapper
	width: 100%
	max-width 460px
	margin-top: 30px
.flip-clock-divider .flip-clock-label
	color #671659
.flip-clock-dot
	background-color: #671659
.flip-clock-wrapper ul li a div div.inn
	color: #fff
	background-color: #671659
	text-shadow: none