footer
	.container
		.row
			.col-md-6
				a(href="https://iomp.ru", target="_blank")
					img.footer-logo(src=path+"img/images/footer-logo.png", alt="Логотип")
			.col-md-6
				ul.footer-menu
					li
						a(href="https://iomp.ru/shop" target="_blank") Магазин курсов
					li
						a(href="https://iomp.ru/teachers" target="_blank") Преподаватели
					li
						a(href="https://iomp.ru/institute" target="_blank") Сведения об образовательной организации
		.row
			.col-md-6
				p.footer-text 115404, г. Москва, 6-я Радиальная, д.5, корп.4, этаж 1, офис 17
				p.footer-text
					a(href="tel:84951520801" target="_blank") 8-495-152-08-01
				p.footer-text
					a(href="mailto:info@iomp.ru" target="_blank") info@iomp.ru
		hr.footer-hr
		.row
			.col-md-6
				p.footer-text ООО «ИСП» ОГРН 1197746615736
				p.footer-text ИНН 7727431274
				p.footer-text КПП 772701001
			.col-md-6
				p.footer-text.footer-text-copy &copy; IOMP 2021