#for
	padding 40px 0 120px
	@media screen and (max-width 991px)
		padding 40px 0 60px
	.row:last-of-type
		margin-top: 180px
		@media screen and (max-width 991px)
			margin-top: 50px
	.col-md-6
		position relative
.for
	&-img
		width 90%
		margin-top: 180px
		&-1
			max-width 597px
		&-2
			max-width 681px
		@media screen and (max-width 991px)
			display block
			width 100%
			max-width 414px
			margin 30px auto 0
	&-subtitle
		font-size: 38px
		font-weight: 300
		position absolute
		top -10px
		left -98%
		@media screen and (max-width 1200px)
			max-width 500px
		@media screen and (max-width 991px)
			position: static
			max-width none
			margin-bottom: 30px
			font-size: 30px
			color #8B8B8B
		@media screen and (max-width 560px)
			font-size: 24px
			margin-bottom: 20px
	&-list
		li
			list-style none
			position relative
			font-size: 30px
			margin-bottom: 50px
			padding-left: 40px
			transition: all .3s ease
			&:last-child
				margin-bottom: 0
			&:before
				content: ''
				display block
				position absolute
				top 17px
				left 0
				width: 17px;
				height: 17px;
				background-color: #E3CDB5
				border-radius: 50px
			&:hover
				color #E7D3BE
		@media screen and (max-width 991px)
			li
				margin-bottom: 20px
				padding-left: 20px
				font-size: 24px
				&:before
					width 10px
					height: 10px
					top 15px
		@media screen and (max-width 560px)
			li
				font-size: 18px
				&:before
					top 10px