#get
	padding 60px 0 100px
	background-color: #050505
	background-image url(../img/backs/get.png)
	background-repeat: no-repeat
	background-position: center left -120px
	background-size: auto 100%
.form-get
	margin-top: 100px
.get-img
	display none
	width 100%
	max-width 414px
	margin 0 auto