#questions
	padding 70px 0 160px
	background-color: #050505
.question-stroke
	font-size: 36px
	color #9D7D5C
.question
	position relative
	&-1
		margin-top: 100px
.answer
	position relative
	padding 0 0 0 50px
	&-number
		font-size: 42px
		font-weight: 600
		color #9D7D5C
		position absolute
		top -13px
		left 0
	&-text
		color: #fff
		font-size: 30px
		margin-bottom: 70px
		&:last-of-type
			margin-bottom: 150px
.marquee-question
	padding-bottom: 100px