#author
	padding 130px 0
.author-pre-title
	font-size: 24px
	color #727272;
	margin-bottom: 15px
.author-img
	position relative
	padding-top: 100%
	img
		position absolute
		top -80px
		left 0
		width auto
.author-instagram
	position relative
	margin-top: 65px
	font-size: 24px
	&-text
		display inline-block
		margin-right: 8px
		text-transform uppercase
	&-link
		display inline-block
		font-weight: 600
		color #E0C3A6;
		transition: all .3s ease
		&:focus
			color #E0C3A6;
		&:hover
			color #B3906E;