SUD = 'SFUIDisplay', sans-serif

@font-face
	font-family: 'SFUIDisplay';
	font-display: fallback;
	font-weight: 300;
	font-style: normal;
	src: local url('../fonts/SFUIDisplayLight.eot');
	src: url('../fonts/SFUIDisplayLight.eot');
	src: url('../fonts/SFUIDisplayLight.eot') format('embedded-opentype'),url('../fonts/SFUIDisplayLight.woff2') format('woff2'),url('../fonts/SFUIDisplayLight.woff') format('woff'),url('../fonts/SFUIDisplayLight.ttf') format('truetype'),url('../fonts/SFUIDisplayLight.svg#SFUIDisplayLight') format('svg');
@font-face
	font-family: 'SFUIDisplay';
	font-display: fallback;
	font-weight: 500;
	font-style: normal;
	src: local url('../fonts/SFUIDisplayMedium.eot');
	src: url('../fonts/SFUIDisplayMedium.eot');
	src: url('../fonts/SFUIDisplayMedium.eot') format('embedded-opentype'),url('../fonts/SFUIDisplayMedium.woff2') format('woff2'),url('../fonts/SFUIDisplayMedium.woff') format('woff'),url('../fonts/SFUIDisplayMedium.ttf') format('truetype'),url('../fonts/SFUIDisplayMedium.svg#SFUIDisplayMedium') format('svg');
@font-face
	font-family: 'SFUIDisplay';
	font-display: fallback;
	font-weight: 600;
	font-style: normal;
	src: local url('../fonts/SFUIDisplaySemibold.eot');
	src: url('../fonts/SFUIDisplaySemibold.eot');
	src: url('../fonts/SFUIDisplaySemibold.eot') format('embedded-opentype'),
		 url('../fonts/SFUIDisplaySemibold.woff2') format('woff2'),
		 url('../fonts/SFUIDisplaySemibold.woff') format('woff'),
		 url('../fonts/SFUIDisplaySemibold.ttf') format('truetype'),
		 url('../fonts/SFUIDisplaySemibold.svg#SFUIDisplaySemibold') format('svg');