section#for
	.container
		+gt('','ЭТОТ МАСТЕР-КЛАСС ДЛЯ:')
		.row
			.col-md-6.col-md-push-6
				h4.for-subtitle Женщин в отношениях, которые:
				ul.for-list
					li чувствуют себя несчастными
					li отдают всю себя партнеру и не получают ничего взамен
					li не получают любви, поддержки и ласки
					li потеряли свою ценность и значимость в отношениях
					li испытывают страх потерять партнера
					li часто испытывают чувство обиды и разочарования
					li сталкиваются с трудностями во взаимоотношениях
					li думают о разводе или измене
			.col-md-6.col-md-pull-6
				+imgs('for-img for-img-1','img/images/for-1.png','Женщин в отношениях, которые:')
		.row
			.col-md-6.col-md-push-6
				h4.for-subtitle Свободных женщин, которые:
				ul.for-list
					li разочаровались в мужчинах, потеряли доверие
					li думают что они не соответствуют критериям достойного партнера
					li стремятся построить счастливые отношения
					li боятся новых отношений и повторения неудачного опыта
					li имеют негативный опыт предыдущих отношений
					li бояться потерять себя в отношениях
					li не понимают мужчин и их поведение
					li не понимают причины своих неудач
					li хотят найти достойного партнёра
			.col-md-6.col-md-pull-6
				+imgs('for-img for-img-2','img/images/for-2.png','Свободных женщин, которые:')