section#author
	.container
		.row
			.col-md-6
				p.author-pre-title О преподавателе
				+gt('','ТАМАРА КУДРЯШОВА')
				ul.general-list
					li Преподаватель
					li Психолог-консультант
					li Сертифицированный коуч
					li Сертифицированный арт-терапевт
					li Сертифицированный тренер программ личностного роста в области семейных отношений
					li Специалист по работе с метафорическими картами
				.author-instagram
					p.author-instagram-text INSTAGRAM -
					a.author-instagram-link(href='https://www.instagram.com/tamara__kudryashova/' target='_blank') @tamara__kudryashova
			.col-md-6
				.author-slider
					each n in [1, 2, 3, 4, 5, 6, 7, 8, 9]
						div: img(src=path+"img/images/author-"+n+".png", alt="Фото "+n).author-slider-img
		.author-tv
			h4.author-tv-title Эксперт телевизионных программ в сфере отношений
			.row
				.col-md-4
					+imgs('author-tv-img', 'img/images/tv-1.png', 'Фото 1 с тв-шоу')
				.col-md-4
					+imgs('author-tv-img', 'img/images/tv-2.png', 'Фото 2 с тв-шоу')
				.col-md-4
					+imgs('author-tv-img', 'img/images/tv-3.png', 'Фото 3 с тв-шоу')
a.button.button-mobile(href="#mobForm") Записаться на мастер-класс