.row
	.col-lg-5.col-md-4.col-lg-push-7.col-md-push-8
		.video-wrapper.video-wrapper-main
			iframe(src="https://www.youtube.com/embed/"+video+"?autoplay=1&mute=1&modestbranding=1" allowfullscreen)
	.col-lg-7.col-md-8.col-lg-pull-5.col-md-pull-4
		p.main-text У меня к тебе просьба - прямо сейчас 
			span подписаться на телеграм
		p.main-text Там ты сможешь 
			span скачать методическое пособие
			| , которое понадобится тебе на предстоящем мастер-классе. Также ты 
			span получишь ссылку-приглашение 
			|  в мой телеграм канал, где я делюсь важной и полезной информацией
		p.main-text Перейди в Нашего чат-бота
		a.button.button-main(href=bot) Подписаться 
			img(src=path+"img/icons/tg.png" alt="Telegram")