.row
	.col-lg-7.col-md-8
		p.main-text У меня к тебе просьба прямо сейчас подписаться на телеграм
		p.main-text Там ты сможешь скачать методическое пособие, которое понадобится тебе на предстоящем мастер-классе. Также ты получишь ссылку-приглашение в мой телеграм канал, где я делюсь важной и полезной информацией
		p.main-text
			span Перейди в Нашего чат-бота
		a.button.button-main(href=bot) Подписаться 
			img(src=path+"img/icons/tg.png" alt="Telegram")