section#main
	include ../base/1-header
	.container
		.row
			.col-md-8.col-sm-6
				//- p.main-pre.main-pre-0 (запись мастер-класса - внизу страницы)
				p.main-pre.main-pre-1 Обучающий курс
				h1.main-title Курс: На отношения!
					br
					| Как не сбиться с пути...
				p.main-info Старт: 
					span 25 мая, в 19:00 (мск)
				p.main-info Автор: 
					span Тамара Кудряшова
				+b('', '', href, 'Записаться')