section#main
	include ../base/1-header
	.container
		.row
			.col-md-8.col-sm-6
				p.main-pre (запись мастер-класса - внизу страницы)
				p.main-pre Обучающий курс
				h1.main-title Курс: На отношения!
					br
					| Как не сбиться с пути...
				p.main-info Старт: 
					span 25 мая, в 19:00 (мск)
				p.main-info Автор: 
					span Тамара Кудряшова