section#for
	.container
		+gt('','Курс о семейных отношениях внутри пары')
		.row
			.col-md-6.col-md-push-6
				h4.for-subtitle Область знаний, затрагивающая следующие вопросы:
				ul.for-list
					li супружеские конфликты
					li удовлетворенность браком
					li кризисы семьи
				p.for-text Курс выстроен по педагогическому дизайну, с применением современных образовательных стандартов и технологий, направлен на максимальное усвоение информации и получение результатов.
			.col-md-6.col-md-pull-6
				+imgs('for-img','img/images/for-2.png','Курс о семейных отношениях внутри пары')