section#lets
	.container
		.row
			.col-md-6.col-md-offset-6
				+gt('general-title-white','Курс позволит тебе:')
				ul.general-list.general-list-white
					li принять ответственность за свои отношения;
					li осознать ошибки, которые привели к тому, что отношения испортились;
					li освоить новый способ мышления во взаимоотношениях не только с партнерами, но и с другими людьми;
					li стать самостоятельной, отдельной личностью в отношениях без растворения;
					li обрести женское состояние, вдохновляющее мужчину;
					li осознать, в чем принципиальная разница мужского и женского поведения, что поможет понимать своего партнера без обид;
					li научиться доверять своему партнеру;
					li избавиться от страха потери отношений;
					li освободиться от деструктивных родительских сценариев;
					li выйти из состояния жертвы в отношениях и вернуть теплые чувства в отношения
				+b('', 'button-lets', href, 'МНЕ ЭТО НЕОБХОДИМО')