mixin l(n, h3, p, span)
	.module(class=`module-${n}`)
		h3.module-title=h3
		p.module-text=p
			if span
				span=span

section#plan
	.container
		+gt('','Программа курса')
		.modules-wrapper
			.modules
				+l('0','Вводный модуль','Почему ты хочешь одни отношения, а по факту имеешь другие?',' - 5 уроков')
				.marquee.marquee-plan
				+l('1','Модуль 1','Разница между мужчиной и женщиной',' - 4 урока')
				.marquee.marquee-plan
				+l('2','Модуль 2','Уровни психологического взросления',' - 4 урока')
				.marquee.marquee-plan
				+l('3','Модуль 3','Типы отношений и стратегии их развития',' - 2 урока')
				.marquee.marquee-plan
				+l('4','Модуль 4','Правила коммуникаций в отношениях',' - 3 урока')
				.marquee.marquee-plan
				+l('5','Модуль 5','Личные границы',' - 3 урока')
				.marquee.marquee-plan
				+l('6','Модуль 6','Потребности и ценности партнеров в отношениях',' - 4 урока')
				.marquee.marquee-plan
				+l('7','Модуль 7','Иллюзии и ожидания',' - 2 урока')
				.marquee.marquee-plan
				+l('8','Модуль 8','Конфликты',' - 3 урока')
				.marquee.marquee-plan
				+l('9','Модуль 9','Работа с негативными эмоциями (обида, ревность, злость)',' - 2 урока')
				.marquee.marquee-plan
				+l('10','Модуль 10','Эмоциональная близость партнеров',' - 3 урока')
				.marquee.marquee-plan
				+l('11','Модуль 11','Потеря себя в отношениях ',' - 2 урока')
				.marquee.marquee-plan
				+l('12','Модуль 12','Постскриптум ',' - 3 урока')
				.marquee.marquee-plan
				.bonus
					h5.bonus-title Бонусы по окончании курса:
					ul.bonus-list
						li Чек-лист - как начать разговор
						li Гайд: как просить партнера
						li Гайд: Как сделать из мухи слона: инструкция по созданию конфликта
						li Чек-лист: пошаговый алгоритм выхода их конфликта
						li Гайд: 50 вопросов для сближения с партнером
						li Чек-лист: создать миссию семьи
						li Гайд: как вызвать восхищение и мужчин
					+b('', 'button-plan', href, 'Я ИДУ НА КУРС')