section#plan
	.container
		+gt('','Программа курса')
		.modules-wrapper
			.modules
				.module.module-0
					h3.module-title Вводный модуль
					p.module-text
						span 5 уроков
					ul.module-list
						li Правила работы с платформой
						li Знакомство с командой
						li Правила обучения
						li Ошибки в отношениях
						ul.module-sublist
							li Узнаешь, какие основные ошибки бывают в отношениях и определишь свои, чтобы задать направление работы над ошибками на курсе
						li Намерение на курс
						ul.module-sublist
							li Поставишь цель на курс, которая позволит держаться в выбранном направлении и не сбиться с пути
				.marquee.marquee-plan
				.module.module-1
					h3.module-title Модуль 1
					p.module-text Иллюзия одинаковости: различия мужской и женской природы - 
						span 4 урока
					ul.module-list
						li Биологические различия, влияющие на поведение
						ul.module-sublist
							li Поймешь природу мужского поведения и  сможешь  ее принять
						li Различия в потребностях, восприятии, мышлении, эмоциях
						ul.module-sublist
							li Научишься понимать причины мужского поведения и прогнозировать мужские реакции
						li Факторы, влияющие на снижение или повышение мужских гормонов
						ul.module-sublist
							li Узнаешь, как уровень тестостерона связан со стрессами, мужественностью, страстностью. Поймешь, как создавать условия повышения тестостерона у мужчин и предупреждать факторы снижения
						li Факторы, снижающие уровень женских гормонов, и как его увеличить
						ul.module-sublist
							li Узнаешь способы повышения уровня эстрогена, и как предупредить его снижение
				.marquee.marquee-plan
				.module.module-2
					h3.module-title Модуль 2
					p.module-text Уровни психологического взросления - 
						span 3 урока
					ul.module-list
						li Стадии психологического взросления
						ul.module-sublist
							li Узнаешь, как уровень эстрогена у женщин связан со стрессами и развитием женских качеств. Сможешь определять, в какой стадии находится сам человек и партнер, причины поведения, а также получишь возможность корректировать свой сценарий поведения
						li Эго-состояния и их проявление в отношениях
						li Характеристики психологически зрелой личности
				.marquee.marquee-plan
				.module.module-3
					h3.module-title Модуль 3
					p.module-text Типы отношений и стратегии их развития - 
						span 2 урока
					ul.module-list
						li Типы отношений по способу коммуникации
						ul.module-sublist
							li Определишь свой тип отношений и узнаешь экологичные стратегии развития отношений
						li Отношения с целью «научить», стратегия выхода из них
						ul.module-sublist
							li Проанализируешь свои ранние отношения на предмет сценарных, поймешь причины попадания в них, и вторичные выгоды
				.marquee.marquee-plan
				.module.module-4
					h3.module-title Модуль 4
					p.module-text Правила коммуникаций в отношениях - 
						span 3 урока
					ul.module-list
						li Способы бесконфликтного общения
						ul.module-sublist
							li Узнаешь причины недопониманий при общении с партнером. Научишься слышать партнера и говорить так, чтобы партнер тебя слышал
						li Как благодарить партнера, делать комплименты, давать признание и поддержку
						ul.module-sublist
							li Узнаешь, как правильно делать комплименты и хвалить мужчину, чтобы мотивировать его на подвиги
						li Как просить партнера
						ul.module-sublist
							li Освоишь пошаговый алгоритм, как получить желаемое
				.marquee.marquee-plan
				.module.module-5
					h3.module-title Модуль 5
					p.module-text Личные границы - 
						span 3 урока
					ul.module-list
						li Что такое личные границы и как они формируются
						ul.module-sublist
							li Узнаешь, что такое личные границы, где они начинаются и где заканчиваются
					ul.module-list
						li Как защищать свои личные границы и выставлять требования
						ul.module-sublist
							li Научишься отстаивать свои личные границы. Узнаешь формулу выставления требований в отношениях
					ul.module-list
						li Последствия нарушения своих  личных границ и  границ партнера. Как научиться уважать личные границы партнера
						ul.module-sublist
							li Узнаешь, как влияет на отношения несоблюдение личных границ
				.marquee.marquee-plan
				.module.module-6
					h3.module-title Модуль 6
					p.module-text Потребности и ценности партнеров в отношениях - 
						span 4 урока
					ul.module-list
						li Как формируются потребности и ценности. Как пренебрежение потребностями партнера разрушает отношение. Для чего нужно знать потребности свои и партнера
						ul.module-sublist
							li Узнаешь, что такое потребности и ценности, как они формируются и как  влияют на отношения
					ul.module-list
						li Как научиться понимать потребности партнера и свои. Как удовлетворять свои потребности и партнера
						ul.module-sublist
							li Научишься понимать свои потребности и партнера, осознаешь, как эти потребности влияют на поведение человека
					ul.module-list
						li Баланс вложений: что это такое. Последствия нарушения баланса. Эмоциональный счет
						ul.module-sublist
							li Узнаешь, как сохранять баланс так, чтобы не выгорать и, в то же время, закрывать потребности партнера
					ul.module-list
						li 5 языков любви
						ul.module-sublist
							li Научишься проявлять любовь на языке партнера
				.marquee.marquee-plan
				.module.module-7
					h3.module-title Модуль 7
					p.module-text Иллюзии и ожидания - 
						span 2 урока
					ul.module-list
						li Что такое иллюзии и ожидания, откуда они берутся и как разрушают отношения
						ul.module-sublist
							li Узнаешь, как формируются и источники возникновения иллюзий и ожиданий, как они разрушают отношения
						li Как воплотить ожидания в реальность и как освободиться от нереализованных
				.marquee.marquee-plan
				.module.module-8
					h3.module-title Модуль 8
					p.module-text Конфликты - 
						span 3 урока
					ul.module-list
						li Виды конфликтов
						ul.module-sublist
							li Узнаешь природу конфликтов и его виды
					ul.module-list
						li Конфликтогены: источники ссор
						ul.module-sublist
							li Поймешь, какие есть источники ссор, чтобы предупреждать конфликты до их наступления
					ul.module-list
						li Эффективные способы выхода из конфликтов
						ul.module-sublist
							li Научишься выходить из конфликтов с пользой для отношений
				.marquee.marquee-plan
				.module.module-9
					h3.module-title Модуль 9
					p.module-text Работа с негативными эмоциями (обида, ревность, злость) - 
						span 2 урока
					ul.module-list
						li Эмоциональный интеллект и его роль в отношениях
						ul.module-sublist
							li Узнаешь, что такое эмоциональный интеллект и его роль в отношениях
					ul.module-list
						li Основные негативные эмоции. Техники работы с негативными эмоциями
						ul.module-sublist
							li Узнаешь и освоишь техники по работе с негативными эмоциями
				.marquee.marquee-plan
				.module.module-10
					h3.module-title Модуль 10
					p.module-text Эмоциональная близость партнеров - 
						span 3 урока
					ul.module-list
						li Эмоциональная близость, как основа прочных отношений
						ul.module-sublist
							li Узнаешь, что такое эмоциональная близость и как она влияет на отношения
					ul.module-list
						li Прошла любовь, завяли помидоры... Как отсутствие близости разрушает отношения
						ul.module-sublist
							li Узнаешь, куда исчезает любовь из отношений
					ul.module-list
						li Как вернуть близость в отношения
						ul.module-sublist
							li Узнаешь, как вернуть любовь в отношения
				.marquee.marquee-plan
				.module.module-11
					h3.module-title Модуль 11
					p.module-text Потеря себя в отношениях (зависимость) - 
						span 2 урока
					ul.module-list
						li Причины потери себя в отношениях. Как это грозит отношениям
						ul.module-sublist
							li Узнаешь, как проявляется потеря себя в отношениях, и чем это грозит
					ul.module-list
						li Что делать, чтобы вернуть себя
						ul.module-sublist
							li Узнаешь, как вернуть себя себе и стать интересной партнеру
				.marquee.marquee-plan
				.module.module-12
					h3.module-title Модуль 12
					p.module-text Постскриптум - 
						span 3 урока
					ul.module-list
						li Когда пора бить тревогу в отношениях
						ul.module-sublist
							li Узнаешь какие признаки сигнализируют о том, что отношения свернули «не туда»
					ul.module-list
						li Как проверить, есть ли будущее у ваших отношений
						ul.module-sublist
							li Сможешь проанализировать, есть ли у ваших отношений потенциал, или ваши отношения уже как высохшее дерево, которое не вернуть к жизни
					ul.module-list
						li Как вызвать восхищение мужчины
						ul.module-sublist
							li Научишься вызывать восхищение у своего мужчины и вести себя так, чтобы мужчина  ради тебя был готов свернуть горы
				.marquee.marquee-plan
				.bonus
					h5.bonus-title Бонусы, которые будете получать по мере прохождения курса:
					ul.bonus-list
						li Чек-лист как начать разговор
						li Гайд: как просить партнера
						li Гайд: Как сделать из мухи слона: инструкция по созданию конфликта
						li Чек-лист: пошаговый алгоритм выхода их конфликта
						li Гайд: 50 вопросов для сближения с партнером
						li Чек-лист: создать миссию семьи
						li Гайд: как вызвать восхищение и мужчин
					+b('', 'button-plan', href, 'Я ИДУ НА КУРС')