section#get
	.container
		.row
			.col-md-10
				+gt('general-title-white', 'Что ты получишь, благодаря прохождению курса:')
		ul.get-list.get-list-1
			li выявишь свои не эффективные и разрушающие стратегии поведения;
			li заменишь автоматические негативные реакций на осознанный выбор в поведении;
			li научишься озвучивать свои потребности так, чтобы партнер их понял и помог удовлетворить;
			li овладеешь навыком видеть потребности своего партнера и содействовать в их удовлетворении;
			li обретешь эмоциональную близость с партнёром;
			li проработаешь обиды, мешающие строить близкие и доверительные отношения;
			li проработаешь старый негативный травмирующий опыт в отношениях;
			li научишься общаться так, чтобы стать ближе и понятнее партнеру;
			li выстроишь отношения с партнером без ссор и обид;
			li если ты пока не в отношениях:
				ul.get-sublist
					li осознаешь причины разлада в прошлых отношениях;
					li сделаешь работу над ошибками;
					li войдешь в новые отношения с чистого листа;
		ul.get-list.get-list-2
			li если ты одинока - узнаешь, как найти достойного мужчину
		+b('', 'button-get', href, 'Записаться')