section#record
	.container
		<?php if($now < $dates[1]) {;?>
		+gt('general-title-center','Запись мастер-класса')
		.record
			h4.record-title Запись занятия от 12.05.21
			.video-wrapper.video-wrapper-record
				iframe(src!="https://player.vimeo.com/video/<?=$video;?>" allowFullScreen mozallowfullscreen webkitAllowFullScreen)
			p.record-text(class!="<?=$hide;?>") Занятие состоится 12.05.21, в 19:00 (мск)
			p.record-text(class!="<?=$hide;?>") Запись занятия появится здесь 13.05.21 после 13:00 (мск)
		br
		p.record-text-2 Занятие будет в свободном доступе до 16.05.21
		<?php } else {;?>
		+gt('general-title-center','Записи мастер-класса более нет в сободном доступе')
		p.record-text-2 Но Вы можете приобрести ее за 250р. и радоваться вместе с теми, кто уже смотрел
		+b('button-wrapper-center','button-rec', '#!', 'Купить запись', '_blank')
		<?php };?>